.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* app css stylesheet */
  
/*body {
  font-size: 20px;	
}   

.container {
  width: 100%;
}   

.sql-side {
  float: left;  
  margin-left: 5%;    
  width: 70%;
} 

.form {
  float: left;  
  margin-left: 5%;     
  width: 20%;
}    

.sql-container {
	margin-top: 10px;
}*/

/*
table {
  border: 1px solid #666;   
  width: 100%;
}
th {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}
tr:hover {background-color: rgba(255,0,0,.3)}  */